In [222]:
import seaborn as sns
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
import numpy as np

In [223]:
tips = sns.load_dataset("tips")
print(tips.info())
print(tips.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB
None
   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [224]:
tips_have = tips.iloc[0:220, :]
tips_new = tips.iloc[ 220: , : ]

tips_new.drop(['tip'],axis=1, inplace=True)
print(tips_have.shape, tips_new.shape)

(220, 7) (24, 6)

C:\Users\GSENR\AppData\Local\Temp\ipykernel_12224\1364637063.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tips_new.drop(['tip'],axis=1, inplace=True)

In [4]:
tips_have.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [93]:
tips_new.head()

     total_bill   tip     sex smoker  day   time
220       12.16  2.20    Male    Yes  Fri  Lunch
221       13.42  3.48  Female    Yes  Fri  Lunch
222        8.58  1.92    Male    Yes  Fri  Lunch
223       15.98  3.00  Female     No  Fri  Lunch
224       13.42  1.58    Male    Yes  Fri  Lunch

In [179]:
sel = ['total_bill', 'tip']

In [180]:
X = tips_have[sel]
y = tips_have['size']

test_X = tips_new[sel]

In [181]:
model = RandomForestClassifier()
model.fit(X,y)
pred = model.predict(test_X)
pred

array([2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 2, 2, 2, 2, 2, 2, 2, 4, 4, 4, 4,
       2, 4], dtype=int64)

In [11]:
# random_state는 난수 발생기의 패턴을 고정시키기 위해 사용한다.
# 이를 통해 우리는 X(입력), y(출력)이 각각 학습용, 테스트용으로 나누어진다.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [12]:
model = RandomForestClassifier() # 모델 만들기
model.fit(X_train, y_train)     # 모델 훈련시키기  model.fit(입력, 출력)
pred = model.predict(X_test)    # 학습된 모델로 예측하기
pred

array([2, 2, 2, 2, 3, 4, 2, 2, 2, 2, 2, 2, 5, 2, 2, 2, 2, 4, 2, 2, 3, 2,
       4, 2, 2, 2, 2, 2, 2, 2, 4, 4, 2, 2, 2, 3, 2, 3, 2, 4, 2, 2, 2, 2,
       2, 2, 2, 4, 3, 2, 2, 2, 2, 2, 2], dtype=int64)

In [14]:
pred == y_test  # 행별로 맞으면 True, 틀리면 False가 된다.

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False])

In [15]:
# 몇개 맞혔는가?
(pred == y_test).sum()

31

In [16]:
# 몇개 맞혔는가? 몇개중에 
(pred == y_test).sum() / len(pred)  * 100

56.36363636363636

In [18]:
model = KNeighborsClassifier() # 모델 만들기
model.fit(X_train, y_train)     # 모델 훈련시키기  model.fit(입력, 출력)
pred = model.predict(X_test)    # 학습된 모델로 예측하기
pred

array([2, 2, 2, 2, 2, 4, 2, 2, 3, 2, 2, 2, 3, 2, 2, 2, 2, 3, 3, 2, 2, 2,
       3, 2, 2, 2, 2, 2, 2, 2, 4, 2, 2, 3, 2, 2, 2, 2, 2, 4, 2, 2, 3, 2,
       2, 2, 2, 4, 2, 2, 2, 4, 2, 2, 2], dtype=int64)

In [19]:
# 정확도
(pred == y_test).sum() / len(pred)  * 100

52.72727272727272

In [20]:
model = DecisionTreeClassifier() # 모델 만들기
model.fit(X_train, y_train)     # 모델 훈련시키기  model.fit(입력, 출력)
pred = model.predict(X_test)    # 학습된 모델로 예측하기
pred

array([2, 2, 2, 2, 3, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 2, 2, 4, 2,
       2, 2, 2, 4, 2, 2, 2, 2, 3, 4, 2, 2, 2, 2, 3, 4, 2, 4, 3, 2, 2, 2,
       3, 2, 2, 4, 3, 2, 2, 4, 2, 2, 2], dtype=int64)

In [23]:
# 정확도
# (pred == y_test).sum() / len(pred)  * 100
np.mean(pred == y_test)

0.4909090909090909

In [40]:
# 파라미터가 None 일때 정확도: 56.36363636363636
n_est_num = [10,100,500]

for nums in n_est_num: 
    model = RandomForestClassifier(n_estimators=nums, n_jobs=-1) # 모델(파라미터 변경) 만들기
    model.fit(X_train, y_train)     # 모델 훈련시키기  model.fit(입력, 출력)
    pred = model.predict(X_test)    # 학습된 모델로 예측하기
    #print(model.score(X_train,y_train))
    print(np.mean(pred == y_test))

0.509090909090909
0.5636363636363636
0.5818181818181818

In [48]:
# 데이터를 나누기 전에 sex 데이터를 숫자로 변경
sex_dict = {'Female' : 0, 'Male' : 1}
tips_have['sex'] = tips_have['sex'].map(sex_dict).astype(int)

C:\Users\GSENR\AppData\Local\Temp\ipykernel_12224\235310479.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tips_have['sex'] = tips_have['sex'].map(sex_dict).astype(int)

In [50]:
sel = ['total_bill', 'tip','sex']

X = tips_have[sel]
test_X = tips_new[sel]

In [54]:
from sklearn.model_selection import train_test_split

# random_state는 난수 발생기의 패턴을 고정시키기 위해 사용한다.
# 이를 통해 우리는 X(입력), y(출력)이 각각 학습용, 테스트용으로 나누어진다.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [55]:
model = RandomForestClassifier() # 모델 만들기
model.fit(X_train, y_train)     # 모델 훈련시키기  model.fit(입력, 출력)
pred = model.predict(X_test)    # 학습된 모델로 예측하기
pred

array([2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 4, 2, 3, 2,
       2, 2, 2, 4, 2, 2, 2, 2, 3, 4, 2, 2, 2, 3, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 4, 2, 2, 2, 2, 2, 2, 4], dtype=int64)

In [58]:
np.mean(pred == y_test)

0.4909090909090909

In [64]:
tips_have['day'].unique()

['Sun', 'Sat', 'Thur', 'Fri']
Categories (4, object): ['Thur', 'Fri', 'Sat', 'Sun']

In [95]:
tips_have['day'] = tips_have['day'].map({'Sun' : 1, 'Sat' : 2, 'Thur' : 3, 'Fri' : 4})

C:\Users\GSENR\AppData\Local\Temp\ipykernel_12224\1843923987.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tips_have['day'] = tips_have['day'].map({'Sun' : 1, 'Sat' : 2, 'Thur' : 3, 'Fri' : 4})

In [131]:
# 데이터를 나누기 전에 day 데이터를 숫자로 변경
tips_have['day'] = tips_have['day'].map({'Sun' : 1, 'Sat' : 2, 'Thur' : 3, 'Fri' : 4}).astype(int)
# sel = ['total_bill', 'tip','day']

# X = tips_have[sel]
# test_X = tips_new[sel]
# from sklearn.model_selection import train_test_split

# # random_state는 난수 발생기의 패턴을 고정시키기 위해 사용한다.
# # 이를 통해 우리는 X(입력), y(출력)이 각각 학습용, 테스트용으로 나누어진다.
# X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)
model = RandomForestClassifier() # 모델 만들기
model.fit(X_train, y_train)     # 모델 훈련시키기  model.fit(입력, 출력)
pred = model.predict(X_test)    # 학습된 모델로 예측하기
np.mean(pred == y_test)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [66]:
tips_have['time'].unique()

['Dinner', 'Lunch']
Categories (2, object): ['Lunch', 'Dinner']

In [117]:
time_dict = {'Lunch' : 1, 'Dinner' : 2}
tips_have['time'] = tips_have['time'].map(time_dict).astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [133]:
tips_have.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  220 non-null    float64
 1   tip         220 non-null    float64
 2   sex         220 non-null    category
 3   smoker      220 non-null    category
 4   day         220 non-null    category
 5   time        220 non-null    int32
 6   size        220 non-null    int64
dtypes: category(3), float64(2), int32(1), int64(1)
memory usage: 7.2 KB

In [96]:
sel = ['total_bill', 'tip','day','time']

X = tips_have[sel]
test_X = tips_new[sel]
from sklearn.model_selection import train_test_split

# random_state는 난수 발생기의 패턴을 고정시키기 위해 사용한다.
# 이를 통해 우리는 X(입력), y(출력)이 각각 학습용, 테스트용으로 나누어진다.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [97]:
model = RandomForestClassifier() # 모델 만들기
model.fit(X_train, y_train)     # 모델 훈련시키기  model.fit(입력, 출력)
pred = model.predict(X_test)    # 학습된 모델로 예측하기
np.mean(pred == y_test)

0.5818181818181818

152    3
74     2
71     3
161    2
162    3
143    6
63     4
153    4
219    4
135    2
149    2
5      4
90     2
168    2
202    2
191    2
201    2
96     2
106    2
75     2
55     2
12     2
157    4
64     3
37     3
130    2
101    2
61     2
8      2
18     3
179    2
15     2
139    2
7      4
124    2
159    4
136    2
144    2
199    2
155    5
66     2
33     4
89     2
158    2
196    2
173    2
185    5
207    4
16     3
145    2
200    3
146    3
22     2
183    4
45     2
Name: size, dtype: int64

In [214]:
tips_have.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [225]:
tips_have['day'] = tips_have['day'].map({'Sun' : 1, 'Sat' : 2, 'Thur' : 3, 'Fri' : 4}).astype(int)
tips_have['time'] = tips_have['time'].map({'Lunch' : 1, 'Dinner' : 2}).astype(int)

C:\Users\GSENR\AppData\Local\Temp\ipykernel_12224\3858326189.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tips_have['day'] = tips_have['day'].map({'Sun' : 1, 'Sat' : 2, 'Thur' : 3, 'Fri' : 4}).astype(int)
C:\Users\GSENR\AppData\Local\Temp\ipykernel_12224\3858326189.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tips_have['time'] = tips_have['time'].map({'Lunch' : 1, 'Dinner' : 2}).astype(int)

In [226]:
tips_have

     total_bill   tip     sex smoker  day  time  size
0         16.99  1.01  Female     No    1     2     2
1         10.34  1.66    Male     No    1     2     3
2         21.01  3.50    Male     No    1     2     3
3         23.68  3.31    Male     No    1     2     2
4         24.59  3.61  Female     No    1     2     4
..          ...   ...     ...    ...  ...   ...   ...
215       12.90  1.10  Female    Yes    2     2     2
216       28.15  3.00    Male    Yes    2     2     5
217       11.59  1.50    Male    Yes    2     2     2
218        7.74  1.44    Male    Yes    2     2     2
219       30.14  3.09  Female    Yes    2     2     4

[220 rows x 7 columns]

In [227]:
sel = ['total_bill','day','time','size']

X = tips_have[sel]
y = tips_have['tip']

In [228]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [234]:
model = RandomForestRegressor() # 모델 만들기
model.fit(X_train, y_train)     # 모델 훈련시키기  model.fit(입력, 출력)
pred = model.predict(X_test)    # 학습된 모델로 예측하기
np.mean((pred - y_test)**2)

0.9622361082684857

In [230]:
model.score(X_test, y_test)

0.28190277749149584