In [11]:
### 01. 데이터 준비
import pandas as pd
data = { "eng": ["b", "c", "a", "d"] }
df = pd.DataFrame(data)
print(type(df))
df

<class 'pandas.core.frame.DataFrame'>

  eng
0   b
1   c
2   a
3   d

In [12]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

en_x = LabelEncoder()
df['라벨인코딩'] = en_x.fit_transform(df['eng'])
df

  eng  라벨인코딩
0   b      1
1   c      2
2   a      0
3   d      3

In [13]:
df['라벨인코딩'].values

array([1, 2, 0, 3])

In [14]:
onehot = OneHotEncoder()
val = df['라벨인코딩'].values.reshape(-1,1) # OneHotEncoder()를 사용을 위한 적합한 값으로 변경.
y = onehot.fit_transform( val ).toarray()    # 값을 변경후, 배열로 만들어준다.
y

array([[0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.]])

In [15]:
onehot_val = pd.DataFrame(y, dtype=int)
onehot_val

   0  1  2  3
0  0  1  0  0
1  0  0  1  0
2  1  0  0  0
3  0  0  0  1

In [16]:
df_new = pd.concat([df, onehot_val], axis=1)
df_new

  eng  라벨인코딩  0  1  2  3
0   b      1  0  1  0  0
1   c      2  0  0  1  0
2   a      0  1  0  0  0
3   d      3  0  0  0  1

In [19]:
data = {'과일' : ['사과', '배', '포도', '멜론', '수박']}
df = pd.DataFrame(data)
df

   과일
0  사과
1   배
2  포도
3  멜론
4  수박

In [21]:
ex_x = LabelEncoder()
df['과일_en'] = ex_x.fit_transform(df)
df

   과일  과일_en
0  사과      2
1   배      1
2  포도      4
3  멜론      0
4  수박      3

In [31]:
onehot = OneHotEncoder()
val = df['과일_en'].values.reshape(-1,1)
y = onehot.fit_transform(val).toarray()
y

array([[0., 0., 1., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0.]])

In [33]:
onehot_val = pd.DataFrame(y, dtype=int)
onehot_val

   0  1  2  3  4
0  0  0  1  0  0
1  0  1  0  0  0
2  0  0  0  0  1
3  1  0  0  0  0
4  0  0  0  1  0

In [34]:
df_new = pd.concat([df, onehot_val], axis=1)
df_new

   과일  과일_en  0  1  2  3  4
0  사과      2  0  0  1  0  0
1   배      1  0  1  0  0  0
2  포도      4  0  0  0  0  1
3  멜론      0  1  0  0  0  0
4  수박      3  0  0  0  1  0

In [35]:
import os

In [36]:
demo_df = pd.DataFrame({"범주형_feature":['양말', '여우', '양말', '상자']})
display(demo_df)

  범주형_feature
0          양말
1          여우
2          양말
3          상자

In [37]:
onehot = pd.get_dummies(demo_df)
onehot

   범주형_feature_상자  범주형_feature_양말  범주형_feature_여우
0               0               1               0
1               0               0               1
2               0               1               0
3               1               0               0

In [38]:
df = pd.concat([demo_df, onehot], axis=1)
df

  범주형_feature  범주형_feature_상자  범주형_feature_양말  범주형_feature_여우
0          양말               0               1               0
1          여우               0               0               1
2          양말               0               1               0
3          상자               1               0               0

In [39]:
from tensorflow.keras.utils import to_categorical
import numpy as np

# define example
data = [15,17,5,10,0]
dat = np.array(data)
print(dat)

# one hot encode
encoded = to_categorical(dat)
print(encoded)

[15 17  5 10  0]
[[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]]

In [41]:
# invert encoding
inverted = np.argmax(encoded[0])
print(inverted)

15